<div class="container">
    <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="pageActuelle === 1">
            <a class="page-link" (click)="changerPage(pageActuelle - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li *ngFor="let page of [].constructor(Math.ceil(films.length / filmsParPage)); let i = index" 
              class="page-item" [class.active]="pageActuelle === i + 1">
            <a class="page-link" (click)="changerPage(i + 1)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" [class.disabled]="pageActuelle === Math.ceil(films.length / filmsParPage)">
            <a class="page-link" (click)="changerPage(pageActuelle + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom</th> <th>Rate Film</th> <th>Date Création</th> <th>Genre</th> <th>Image</th><th>actions</th><th></th></tr>
    <tbody *ngFor="let film of filmsPagines">
    <tr >
    <td>{{film.idFilm}}</td>
    <td>{{film.nomFilm}}</td>
    <td>{{film.rateFilm}}</td>
    <td>{{film.dateSortie | date:'dd/MM/yyyy'}}</td>
    <td>{{film.genre?.nomGenre}}</td>
    <td><img class="card-img-top img-responsive"
        src="{{film.imageStr}}"
        style = "height :50px;width:100px">
        </td>
    <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerFilm(film)">supprimer</a></td>
    <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateFilm',film.idFilm]">Modifier</a></td>   
</tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
