<div class="container">
    <div>
    <h2>Ajouter un film :</h2>
    </div>
    <form >
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
        <label >ID Film</label>
        <input type="text" [(ngModel)]="newFilm.idFilm"
        name="idFilm" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom film</label>
        <input type="text"[(ngModel)]= "newFilm.nomFilm"
        name="nomFilm" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >Rate film</label>
        <input type="number" [(ngModel)]= "newFilm.rateFilm"
        name="rateFilm" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date de sortie </label>
        <input type="date" [(ngModel)]= "newFilm.dateSortie"
        name="dateSortie" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Genre</label>
            <select class="form-control form-control-lg" id="idGen" name="idGen"
            [(ngModel)]="newIdgen">
             <option *ngFor="let gen of genre" [value]="gen.idGenre" >
             {{gen.nomGenre}}
            </option>
            </select>
            </div>
            <div class="col-sm-16 col-md-16 col-lg-16">
                <label class="mb-2">Image :</label>
                <input type="file" (change)="onImageUpload($event)"
                name="logo" class="form-control">
                </div>
                <div class="col-sm-16 col-md-16 col-lg-16">
                    <img [src]="imagePath" class="card-img-top img-fluid rounded-start"
                    style="width: 500px; height: 300px" />
                    </div>
                    
        <div class="mt-2">
        <button type="submit" (click)="addFilm()"class="btn btn-success">Ajouter</button>
        </div>
        </form>
        </div>